<head>
    <title>Contact</title>
</head>

<link rel="stylesheet" href="/css/Contact.css">
<body>
    <h1>สามารถติดต่อผ่านทางช่องทางนี้</h1>

    <div id="contact-all">
        <span class="facebook">
            <img src="/img/Facebook.png" alt="facebook" height="200" width="200">
            <p>
                Hope Hope Hope
            </p>
        </span>
        <span class="instagram">
            <img src="/img/instagram.png" alt="instagram" height="200" width="200">
            <p>
                hhhhhhhhhhhhhope
            </p>
        </span>
        <span class="line">
            <img src="/img/line.png" alt="line" height="200" width="200">
            <p>
                hope34520
            </p>
        </span>
        <span class="gmail">
            <img src="/img/gmail.png" alt="gmail" height="200" width="200">
            <p>
                hopeben10@gmail.com
            </p>
        </span>
        <span class="phone">
            <img src="/img/telephone.png" alt="phone" height="200" width="200">
            <p>
                เบอร์ติดต่อ</br>
                097-040-7050
            </p>
        </span>
    </div>
    <div id="all">
        <div class="index">
            <a href="index">index</a>
        </div>
        <div class="Experience">
            <a href="Experience">Experience</a>
        </div>
        <div class="Projects">
            <a href="Projects">Projects</a>
        </div>
        <div class="Contact">
            <a href="Contact">Contact</a>
        </div>
        </div>
</body>