<head>
    <title>Expericene</title>
</head>
<link rel="stylesheet" href="/css/Experience.css">
<body>
    <h1>ประวัติการศึกษา</h1>
        <div id="education">
            <span class="primary">
                <div class="P">
                <p>
                    ช่วงประถมศึกษาได้เรียนที่ โรงเรียนศรีวิทยาปากน้ำ เกรดเฉลี่ย 3.65<br/>

                </p>
                </div>
                <div class="sri">
                <img src="/img/sriwittayapaknam.png" alt="sriwittayapaknam" height="200" width="200">
                </div>
            </span>
            <span class="secondary">
                <div class="S">
                <p>
                    ช่วงมัธยมศึกษาตอนต้นได้เรียนที่ โรงเรียนสตรีสมุทรปราการ เกรดเฉลี่ย 3.60<br/>
                    ช่วงมัธยมศึกษาตอนปลายได้เรียนที่ โรงเรียนสตรีสมุทรปราการ เกรดเฉลี่ย 3.22
                </p>
                </div>
                <div class="str">
                <img src="/img/strreesmutprakarn.png" alt="strreesmutprakarn" height="200" width="300">
                </div>
            </span>
            <span class="collage">
                <div class="C">
                <p>
                    ช่วงมหาวิทยาลัยได้เรียนที่ มหาวิทยาลัยศิลปากร เกรดเฉลี่ย 2.90<br/>

                </p>
                </div>
                <div class="sil">
                <img src="/img/silpakorn.png" alt="silpakorn" height="200" width="200">
                </div>
            </span>
        </div>

    <h1>ประวัติการฝึกงาน</h1>
    <div class="aero">
    <p>
        ได้รับเข้าการฝึกงานที่ บริษัทวิทยุการบินแห่งประเทศไทย จำกัด ช่วงการศึกษาภาคฤดูร้อน<br/>
        โดยมีผลงานคือ : การตรวจสอบ Pulse signal ของเครื่อง DME รุ่น SELEX 1118A/1119A โดยใช้ Oscilloscope
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1Xoco-elPQk?si=uM3O-AU4g8nuN-EC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <h1>ประวิติการอบรม</h1>
    <div id="aa">
    <span class="aaa">
     <p>
        โครงการวิศวะไฟฟ้าสร้างเสริมปัญญา</br>
        การ configuration อุปกรณ์ในระบบเครือข่ายเพื่อทำงานสำหรับผู้เริ่มต้น รุ่นที่5
     </p>
     <img src="/img/a.jpg"alt="a" height="400" width="600">
    </span>
    <span class="bbb">
     <p>
        โครงการวิศวะไฟฟ้าสร้างเสริมปัญญา</br>
        การพัฒนาระบบ IoT โดยใช้ ESP32 และ LINEBOT รุ่นที่ 2
     </p>
     <img src="/img/b.jpg" alt="b" height="400" width="600">
    </span>
    </div>

    <div id="bb">
    <span class="ccc">
     <p>
        โครงการวิศวะไฟฟ้าสร้างเสริมปัญญา</br>
        การสร้าง Function และ Class ในภาษา Python รุ่นที่ 4
     </p>
     <img src="/img/c.jpg" alt="c" height="400" width="600">
    </span>
    <span class="ddd">
     <p>
        โครงการวิศวะไฟฟ้าสร้างเสริมปัญญา</br>
        การตรวจจับฝบหน้า โดยใช้ Python ร่วมกับ OpenCV และ TensorFlow รุ่นที่ 1
     </p>
     <img src="/img/d.jpg" alt="d" height="400" width="600">
    </span>
    </div>
    <p>

    </p>
    <div id="all">
    <div class="index">
        <a href="index">index</a>
    </div>
    <div class="Experience">
        <a href="Experience">Experience</a>
    </div>
    <div class="Projects">
        <a href="Projects">Projects</a>
    </div>
    <div class="Contact">
        <a href="Contact">Contact</a>
    </div>
    </div>
</body>
