<head>
    <title>Home</title>
</head>
<body>
<link rel="stylesheet" href="/public/Home.css">
<h1>Home</h1>
<div class="hopepic">
<img src="Hopepic.jpg" />
</div>

<h2>แนะนำตัว :</h2>
<div class="data1">
<p>
    - สวัสดีครับผมนาย สุภัทรจิตร์ นิรมิตรนุรักษ์ รหัส 640911068 เว็บไซต์นี้เขียนขึ้นเพื่อฝึกฝนและพัฒนาทักษะการเขียนเว็บถ้ามีข้อผืดพลาดตัวผมขออภัยมานะที่นี้ด้วยนะครับ ในอนาคตอาจจะมีการเพิ่มเติมในส่วนนี้<br/>
      โดยจะมีการให้ข้อมูลประมาณ 4 อย่าง ข้อมูลตัวเอง ประสบการณ์ทำงาน การศึกษา โปรเจค ช่องทางการติดต่อ โดยสามารถดูเพิ่มได้ทางช่องข้างล่างสุด
</p>
</div>
<h2>ประวัติส่วนตัว :</h2>
<div class="data2">
<p>
    - ชื่อ/Name : นายสุภัทรจิตร์ นิรมิตรนุรักษ์ / Supattarejit Niramitnurux<br/>
    - ชื่อเล่น/Nickname : โฮป/Hope<br/>
    - วันเกิด/Birth : 29 สิงหาคม พ.ศ.2545 / 29 Auguest 2002<br/>
    - อายุ/Age: 21<br/>
    - เชื้อชาติ/Race : ไทย / Thai<br/>
    - ศาสนา/Religion : พุทธ / Buddhism<br/>
    - ที่อยู่/address : 369/559 หมู่ 3 ตำบลบางปูใหม่ อำเภอเมืองสมุทรปราการ จังหวัดสมุทรปราการ
</p>
</div>

<div id="flex-container">
<body>
    <span class="flex-item1"> 
    <h3>ข้อดี</h3>
<p>
    - มีความตั้งใจกับการทำงาน<br/>
    - มีความคิดในแง่บวก<br/>
    - รักความสะอาด<br/>
    - มีความอดทนสูง
</p>
    </span>
    <span class="flex-item2">  
    <h4>ข้อเสีย</h4> 
<P>
    - มีอาการเหม่อลอยบางครั้ง<br/>
    - เสียสมาธิได้ง่าย<br/>
    - ไม่ละเอียดรอบคอบ
</P>
    </span>
</body>
</div>
</body>
<h2>ทักษะความสามารถ</h2>
<div class="data3">
<p>
    - สามารถเขียนโปรแกรมขั้นพื้นฐานC, C++, Java, Python, ISIS7 Professional, MatLab, LabView, Rstudio<br/>
    - เคยเป็นตัวแทนแข่งบาสเกตบอล<br/>
    - ใช้โปรแกรมของ Microsoft ขั้นพื้นฐาน เช่น Word, Excelและ Power point
</p>
</div>

<div id="all">
<div class="Home">
    <a href="Home.html">Home</a>
</div>
<div class="Experience">
    <a href="Experience.html">Experience</a>
</div>
<div class="Projects">
    <a href="Projects.html">Projects</a>
</div>
<div class="Contact">
    <a href="Contact.html">Contact</a>
</div>
</div>